.*
train_scripts/.*
target
project/target
project/project
project/.bloop
tests/*
tests/project
!tests/*.toml
!tests/*.in
test_run_dir/
src/parameters/*
train_scripts/log/*
*.json
!src/config/*.json
!train_scripts/config/*.json
